/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Remove underline from links */
a {
    text-decoration: none;
    color: #5a5a5a;
}

/* Set cursor pointer for all images */
img {
    cursor: pointer;
}

/* Flex utility class */
.flex-div {
    display: flex;
    align-items: center;
}

/* Navbar styles */
nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #72a8e5;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Menu icon and logo styles */
.nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;
}

/* Search box styles */
.nav-middle .search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    display: flex;
    align-items: center; /* Center vertically */
}

.nav-middle .search-box input {
    width: 400px; /* Take up full width */
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box img {
    width: 15px;
}

/* Profile picture styles */
.nav-right .user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

/* Sub-menu styles */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.active {
    max-height: 600px;
}

.sub-menu {
    background: #f7f2f2;
    padding: 20px;
    margin: 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    /* Navbar padding adjustment */
    nav {
        padding: 10px;
    }

    /* Hide menu icon and logo on smaller screens */
    .nav-left .menu-icon,
    .nav-left .logo {
        display: none;
    }

    /* Adjust margin for profile picture on smaller screens */
    .nav-right .user-pic {
        margin-left: 10px;
    }

    /* Adjust search box styles for smaller screens */
    .nav-middle .search-box {
        margin-right: 0;
    }

    /* Hide sub-menu link text on smaller screens */
    .sub-menu-link p {
        display: none;
    }

    /* Adjust sub-menu link icon size on smaller screens */
    .sub-menu-link img {
        width: 40px;
    }

    /* Adjust profile picture alignment on smaller screens */
    .user-pic {
        display: inline-block;
        margin-left: 10px;
    }

    /* Hide h1 tag on smaller screens */
    h1 {
        display: none;
    }
}
