.sidebar{
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    overflow-y: hidden;
    scrollbar-width: thin;

}

.sidebar:hover{
    overflow-y: auto;
}

.sortcut-links img{
    width: 20px;
    margin-right: 20px;
}

.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}

.side-link p{
    color: black;
}

.side-link p:hover{
    color: grey;
}

.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
    margin-bottom: 20px;
}

.subscribed-list h3{
    font-size: 13px;
    margin: 20px;
    color: #5a5a5a;
}

.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}



/* SMALL SIDEBAR */
.small-sidebar{
    width: 5%;

}

.small-sidebar p{
    display: none;
}

.small-sidebar h3{
    display: none;
}

.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}