/* AdminMenu.css */

.admin-menu-container {
    padding: 20px;
    border-right: 1px solid #ccc;
}

.admin-menu-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.admin-menu-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.admin-menu-button {
    flex: 1;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #fff; /* Text color set to white */
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow to the button */
}

.admin-menu-button:hover {
    background-color: #007bff; /* Button effect on hover */
    color: #fff; /* Text color set to white on hover */
    transform: scale(0.95); /* Reduce size slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.admin-menu-button:focus {
    outline: none;
}

/* Add a horizontal line below the buttons */
.admin-menu-buttons:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-top: 20px;
}
